@page "/calculation"
@using SmartCut.Shared.Resources.Localization
@using SmartCut.Shared.Services
@using SmartCut.Shared.Layout.Components
@using SmartCut.Shared.Models.ViewModels
@inject BreadcrumbService BreadcrumbService
@inject NotificationService NotificationService
@inject ApiClient CalculationService
@inject NavigationManager NavigationManager

<div class="card">
    <div class="card-overlay"></div>
    <div class="card-inner">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-title mb-0">@Localizer.Get("Plans")</h3>
        </div>
        <div class="card-body">
            <div class="container ">
                <div class="row">
                    @* show navigation buttons *@
                    <div class="col-12 btn-container d-flex align-items-center justify-content-start">
                        <ListButton buttonText="@Localizer.Get("Add New")" buttonBackgroundColor="#20c997"
                                    svg="@plusSquareSvg"
                                    OnClicked="NavigateToCreate" />

                        <ListButton buttonText="@Localizer.Get("List")" buttonBackgroundColor="#4a90e2"
                                    svg="@listSvg"
                                    OnClicked="NavigateToList" />

                 
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
@code{
    private MarkupString plusSquareSvg = new MarkupString(@"
<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'>
  <path d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/>
</svg>");
    private MarkupString listSvg = new MarkupString(@"    <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'>
            <path fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/>
        </svg>");
    private MarkupString importIcon = new MarkupString(@"
    <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-file-earmark-arrow-down-fill' viewBox='0 0 16 16'>
        <path d='M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0'/>
    </svg>");
    private MarkupString exportIcon = new MarkupString(@"
        <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-file-earmark-arrow-up-fill' viewBox='0 0 16 16'>
            <path d='M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M6.354 9.854a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 8.707V12.5a.5.5 0 0 1-1 0V8.707z'/>
        </svg>");
    protected override void OnInitialized()
    {
        BreadcrumbService.SetBreadcrumbs(new List<BreadcrumbItem>
        {
            new() { Title = Localizer.Get("Home"), Url = "/", IsActive = false },
            new() { Title = Localizer.Get("Plans"), Url = "/calculation", IsActive = true }

        });
    }
    private void NavigateToCreate()
    {
        try
        {
            NavigationManager.NavigateTo("/calculate");
        }
        catch (Exception)
        {
            NotificationService.ShowError("An error occurred while navigating");
        }
    }
    private async Task NavigateToList()
    {
        try
        {
            NavigationManager.NavigateTo("/list-calculations");
        }
        catch (Exception)
        {
            NotificationService.ShowError("An error occurred while navigating");
        }
    }
}